<!DOCTYPE html>
<html>
<head>
  <title>Lesson 3 - Using an alternative v-if syntax</title>
</head>
<body>
  <div id="app">
    <p v-if="show">You can see me! <span>Hello!</span></p>
    <p v-else>Now you see me!</p>
    <!--
    The HTML5 template tag does not get rendered into the DOM.
    This makes it a good spot for placing elements that wil be
    conditionally rendered.
     -->
    <template v-if="show">
      <h1>Heading</h1>
      <p>Inside a template</p>
    </template>
    <button v-on:click="show = !show">Switch</button>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript">
    new Vue({
      el: '#app',
      data: {
        show: true
      }
    });
  </script>
</body>
</html>